<div class="w3-container">
        <div class="w3-row">
            <div class="w3-col" style="padding: 10%; padding-top:2%">
              <%= form_with(model: incidence, local: true) do |form| %>
                <% if incidence.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(incidence.errors.count, "error") %> prohibited this incidence from being saved:</h2>
              
                    <ul>
                      <% incidence.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              
                <div class="field">
                  <%= form.label "Descripción" %>
                  <%= form.text_area :descripcion, class:"w3-input w3-border" %>
                </div>
              
                <div class="actions">
                  <%= form.submit "Crear", class:"w3-btn w3-teal" %>
                </div>
              <% end %>
            </div>
        </div>
    </div>