<%= render  "partials/banner" %>
<%= render  "partials/navigation" %>
<h1>Editar novedad</h1>

<%= render 'form', incidence: @incidence %>

<%= link_to 'Show', @incidence %> |
<%= link_to 'Back', incidences_path %>
