<!DOCTYPE html>
<html>
  <head>
    <title>Aliados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="w3-black" style="padding: 6%;">
      <div class="w3-row">
        <div class="w3-half">
          <p>MAFERSITA</p>
        </div>
        <div class="w3-half">
          <p>ENEL CODENSA</p>
          <p>ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </footer>
  </body>
</html>
